.card{
  border: 1px solid black;
  width:180px ;
  padding: 5px 10px;
  align-self: self-start;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
}

.card form{
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  
}
.card form input[type="text"]{
  border: 0;
  outline: 0;
  margin: 2px;
}

.card form p{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px ;
}
.card form textarea{
  margin: 0;
  text-align: justify;
}
.card form button{
  background: rgb(146, 255, 177);
  color: black;
  width: 100%;
  margin: 20px 0 5px 0;
  padding: 10px 0;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
}